
p{
    color: crimson;
    border: black;
text-shadow: crimson;
}

footer{
    border: crimson;
    background-color: black;
    display: contents;
}

nav{
    color:black;
    border:black;
    padding: 4px;
    border: groove;
background-color: crimson;
}

body{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/I/517BWWhq-IL._AC_UL600_SR600,600_.jpg");

}
ul{
    color: crimson;
    border: crimson;
    background-color: black;
}

